.wrapper {
  padding-bottom: 0.98rem;
}

.top {
  height: 3.4rem;
  overflow: hidden;
  text-align: center;
  background: #727173;
  font-size: 12px;
  position: relative;
}
.top .topPic {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: url(blur.svg#blur);
  /* FireFox, Chrome, Opera */
  -webkit-filter: blur(2px);
  /* Chrome, Opera */
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  /* IE6~IE9 */
}
.top .mark {
  width: 100%;
  height: 100%;
  background: rgba(225, 225, 225, 0.5);
}
.top .topContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.top .headPic img {
  width: 1.5rem;
  height: 1.5rem;
  background: green;
  border-radius: 100%;
  margin-top: 0.4rem;
}
.top .headPic i {
  color: #f6f6f6;
  font-size: 0.32rem;
  position: absolute;
  top: 1rem;
  left: 4.3rem;
}
.top .name {
  margin-top: 0.2rem;
  font-size: 0.28rem;
  color: #333;
}
.top .remianMoney {
  height: 0.38rem;
  text-align: center;
  margin: 0.3rem auto 0;
}
.top .remianMoney div {
  display: inline-block;
  width: 2rem;
  height: 0.38rem;
  overflow: hidden;
}
.top .remianMoney div b {
  font-size: 0.3rem;
  color: #f7f7f7;
  font-weight: bold;
  margin-right: 0.1rem;
  line-height: 0.38rem;
  float: left;
}
.top .remianMoney div span {
  font-size: 0.2rem;
  color: #333;
  margin-right: 0.1rem;
  line-height: 0.38rem;
  float: left;
}
.top .remianMoney div i {
  display: inline-block;
  font-size: 0.2rem;
  width: 0.6rem;
  height: 0.38rem;
  background: #fe8c00;
  border-radius: 0.1rem;
  margin-right: 0.1rem;
  line-height: 0.38rem;
  float: left;
}
.top .remianMoney div strong {
  margin-right: 0.1rem;
  font-size: 0.2rem;
  color: #000;
  line-height: 0.38rem;
  float: left;
}

.item {
  font-size: 12px;
}
.item .list {
  height: 0.9rem;
  color: #333;
  background: #fff;
}
.item .list i,
.item .list span,
.item .list b {
  line-height: 0.9rem;
}
.item .list i {
  font-size: 0.28rem;
  color: #000;
  font-weight: bold;
}
.item .list b {
  float: right;
}
.item .list span {
  margin-left: 0.2rem;
  font-size: 0.28rem;
}
.item .border1 {
  position: relative;
  border: none;
}
.item .border1:after {
  content: '';
  position: absolute;
  bottom: 0;
  background: #e5e5e5;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.item .first {
  padding: 0 0.2rem;
  box-sizing: border-box;
  background: #fff;
  margin-top: 0.2rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.item .first .buyState {
  background: #fff;
}
.item .first .buyState ul {
  float: left;
  height: 1.3rem;
  width: 1.1rem;
  text-align: center;
}
.item .first .buyState ul .one {
  margin-top: 0.2rem;
}
.item .first .buyState ul .one i {
  font-size: 0.4rem;
}
.item .first .buyState ul .two {
  font-size: 0.22rem;
  margin-top: 0.2rem;
}
.item .second,
.item .third,
.item .fourth,
.item .fifth {
  padding: 0 0.2rem;
  margin-top: 0.1rem;
  background: #fff;
}

#menu {
  width: 100%;
  height: .97rem;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0;
  z-index: 999;
  font-size: .24rem;
}
#menu ul {
  display: flex;
  justify-content: space-around;
  margin-top: .14rem;
}
#menu ul li {
  height: .7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu ul li i {
  font-size: .36rem;
  color: #666;
  position: relative;
}
#menu ul li i .sum {
  position: absolute;
  top: -.2rem;
  right: -.15rem;
  display: inline-block;
  width: .29rem;
  height: .29rem;
  border-radius: .15rem;
  background: #ff8b00;
  font-size: .18rem;
  color: #fff;
  text-align: center;
  line-height: .29rem;
}
#menu ul li span {
  margin-top: .12rem;
  color: #666;
}
#menu ul .active i {
  color: #b3d929;
}
#menu ul .active span {
  color: #b3d929;
}

#menu {
  width: 100%;
  height: .97rem;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0;
  z-index: 999;
  font-size: .24rem;
}
#menu ul {
  display: flex;
  justify-content: space-around;
  margin-top: .14rem;
}
#menu ul li {
  height: .7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu ul li i {
  font-size: .36rem;
  color: #666;
  position: relative;
}
#menu ul li i .sum {
  position: absolute;
  top: -.2rem;
  right: -.15rem;
  display: inline-block;
  width: .29rem;
  height: .29rem;
  border-radius: .15rem;
  background: #ff8b00;
  font-size: .18rem;
  color: #fff;
  text-align: center;
  line-height: .29rem;
}
#menu ul li span {
  margin-top: .12rem;
  color: #666;
}
#menu ul .active i {
  color: #b3d929;
}
#menu ul .active span {
  color: #b3d929;
}

/*# sourceMappingURL=my.css.map */
